@import "../standard";


.category-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px;

  a {
    color: black;
  }

  .category-block {
    font-size: 3em;
    border-radius: $border-radius;
    background-color: rgb(245, 180, 107);
    padding: 70px 50px;
  }
}